body{
  min-width: 1200px;
}
#burger{
  height: 40px;
  width: 40px;
  position: relative;
  margin: 10px;
  transition: rotate(0deg);
  transition: .25s ease-in-out;
}

#burger > span{
  height:6px;
  position: absolute;
  display: block;
  width: 100%;
  background-color: #d1d1d1;
  border-radius: 4px;
  transform: rotate(0deg);
  transform: translate(0,0);
  transition: .6s ease-in-out;
}

#burger span:nth-child(1){
  top: 0px;
}
#burger span:nth-child(2){
  top: 15px;
}
#burger span:nth-child(3){
  top: 30px;
}

#burger.open span:nth-child(1){
  transform: translate(0, 30px);
  background-color: #00ff3b;
}
#burger.open span:nth-child(2){
  transform: rotate(60deg) translate(5px, -8px);
  background-color: #00ff3b;
}
#burger.open span:nth-child(3){
  transform: rotate(-60deg) translate(9px, -15px);
  background-color: #00ff3b;
}

.navLink{
  position: absolute;
  top: 60px;
  transition: .6s ease-in-out;
  text-decoration: none;
}
#link1{
  left:-285px;
}
#link2{
  top: 120px;
  left:-285px;
}
#link3{
  top: 180px;
  left:-285px;
}

#link1.showLink{
  left: 0;
}
#link2.showLink{
  left: 0;
}
#link3.showLink{
  left: 0;
}

.navLink{
  text-decoration: none;
}

.linkPanel{
  background-color: #d1d1d1;
  height: 60px;
  width: 300px;
  border-right: 5px solid #606060;
  transition: all 1.5s;
  border-bottom: 1px solid #212121;
}

.linkText{
  font-size: 24px;
  color: black;
  text-align: right;
  padding: 10px;
  text-decoration: none;
}

.linkPanel.showPanel{
  border-right: 10px solid #00ff3b;
}

.linkPanel:hover{
  background-color: #00ff3b;
  text-decoration: none;
}

.menu{
  display: flex;
}
#walletButton{
  margin-left: 30px;
  padding: 10px 30px;
  font-size: 20px;
  color: #d1d1d1;
  transition: all 1s;
  border: 1px solid #d1d1d1;
}
#walletButton:hover{
  color: #00ff3b;
  border: 1px solid #00ff3b;
    border-radius: 10px;
}
