body{
  font-family: 'Roboto', sans-serif;
  background-color: #838893;
}

.formBackground{
  border: 2px solid black;
  background-color: #EFEFEF;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  box-shadow: 5px 5px 15px;
}

.registerForm{
  width: 400px;
  height: 350px;
}

.registerForm > h1{
  text-align: center;
  padding: 15px;
}

.regInput{
  text-align: right;
  padding-bottom: 20px;
  margin-right: 20%;
}

.link{
  font-size: 10px;
  padding: 10px;
}

.errorMessage{
  position: absolute;
  transform: translate(140px, 0px);
  font-size: 10px;
  color: red;
}

.navbar{
  height: 30px;
  width: 100%;
  background-color: #EFEFEF;
  box-shadow: 5px 5px 15px;
}

.stocklinks > a{
  padding-right: 30px;
}

.dashboard{
  height: 800px;
  width: 1000px;
}

.searchForm{
  width: 1000px;
  height:400px;
}
