<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <title>Stock Portfolio Simulator - Login</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <div class="registerForm formBackground" id="app">
    <h1>Login:</h1>
    <form method="post">
      <div class="regInput">
        <label for="userName">User Name:</label>
        <input type="name" name="userName" id="userName" ref="userName" placeholder="Username" required />
        <div class="errorMessage">
          {% if errorName %}
          <p class="error">{{ errorName }}</p>
          {% endif %}
        </div>
      </div>

      <div class="regInput">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" ref="password"  placeholder="Password" required />
        <div class="errorMessage">
          {% if errorPass %}
          <p class="error">{{ errorPass }}</p>
          {% endif %}
        </div>
      </div>

      <button type="submit" @click.prevent="login">Login</button>

      <div class="link">
        <a href="{{ url_for('register') }}">Sign up here.</a>
      </div>
    </form>
  </div>
  <div class="flash_messages">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
           {{ message }}
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>

</body>
</html>
