<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <title>Stock Portfolio Simulator - Buy Stock</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <div class="navbar">
    <div class="stocklinks">
      <a href="{{ url_for('buystock' )}}">Buy Stock</a>
      <a href="{{ url_for('sellstock' )}}">Sell Stock</a>
    </div>
    <a href="{{ url_for('logout') }}">Logout</a>
  </div>
  <div class="formBackground">
    {{ name }}
    {{ money }}
    {% if portfolio %}
      {% for stock in portfolio %}
        <div>
          <p>{{ stock[1]}}</p>
          <p>{{ stock[2]}}</p>
          <p>{{ stock[3]}}</p>
          <form method="post" action={{ url_for('sell', username=name, portfolio_id=stock[0])}}>
            <label for="sellStock">How many would you like to sell?</label>
            <input type="number" name="sellStock" id="sellStock" ref="sellStock" required  />
            <button type="submit" id="sellButton">Sell</button>
          </form>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</body>
</html>
